.navBar {
	// display: flex;
	width: 100%;
	> div {
		gap: 3rem;
		// align-items: flex-start;
		justify-content: space-between; // Alinha os itens à esquerda
	}
}
@media (max-width: 800px) {
	.navBar {
		> div {
			justify-content: space-between;
		}
	}
}
